[Desktop Entry]
Name=Waver
Comment=Waver is a free Ampache client, built on the Qt framework.
Exec=/opt/waver/bin/waver
Terminal=false
Type=Application
Icon=/opt/waver/pixmaps/waver_icon.png
Categories=Audio;Player;
